{{ define "mucss/navbar" -}}
<nav class="container-fluid">
    <ul>
        <li><a href="/" class="contrast"><strong>__ProjectName__</strong></a></li>
        {{ range navLinks -}}
        <li>
            <a href="{{ .URL }}"{{ if .IsActive }} aria-current="page"{{ end }}
               hx-get="{{ .URL }}" hx-target="main" hx-push-url="true">
                {{ if .Icon }}{{ .Icon }} {{ end }}{{ .Label }}
            </a>
        </li>
        {{- end }}
    </ul>
    <ul>
        <li>{{ template "mucss/theme_switcher" . }}</li>
    </ul>
</nav>
{{- end }}

{{ define "mucss/alerts" -}}
<div id="alerts">
    {{ range messages -}}
    <div role="alert" class="alert alert-{{ alertClass .Level }}">{{ .Text }}</div>
    {{- end }}
</div>
{{- end }}

{{ define "app/alerts_oob" -}}
<div id="alerts" hx-swap-oob="innerHTML">
    {{ range messages -}}
    <div role="alert" class="alert alert-{{ alertClass .Level }}">{{ .Text }}</div>
    {{- end }}
</div>
{{- end }}
